<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ideal.springbootmybatisdemo.dao.UserMapper">
    <resultMap id="user" type="com.ideal.springbootmybatisdemo.entity.IUser"/>
    <parameterMap id="user" type="com.ideal.springbootmybatisdemo.entity.IUser"/>
    <select id="findUserByUsername" parameterType="String" resultMap="user">
        SELECT * FROM i_user
        WHERE user_name=#{1}
    </select>

    <update id="updateUserByUsername" parameterMap="user">
        UPDATE i_user SET user_password=#{userPassword} WHERE user_name=#{userName}
    </update>

    <delete id="deleteUserByUsername" parameterType="String">
        DELETE FROM i_user WHERE user_name=#{1}
    </delete>

    <!-- 使用alias自定义的parameterType-->
    <insert id="saveUser" parameterType="user">
        INSERT INTO i_user(user_password,user_name) VALUES (#{userPassword},#{userName})
    </insert>

    <select id="getUserList" resultMap="user">
        SELECT  * FROM i_user
    </select>
</mapper>